@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
@import "tailwindcss";
@theme {
  --color-prime: rgb(255, 122, 43);
  --color-lightPrime: rgb(255, 165, 113);
  --color-second: rgb(255, 239, 230);
  --color-light: rgb(255, 255, 255);
  --color-dark: rgb(0, 0, 0);
}
*::-webkit-scrollbar {
  display: none;
}
li{
  transition: all 0.5s;
  text-decoration: underline;
  display: flex;
}
li:hover {
  color: rgb(255, 122, 43);
}
.backgroundImageMD {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(./images/landingPagePic.jpg);
}
.Inconsolata {
  font-family: "Inconsolata", monospace;
}
.changeText:hover{
  width: 130px;
  font-size:large;
}
.changeText:hover:before{
  width: 300px;
  content: "add post";
}
.changeText{
  font-size: 0px;
}